
* {
    color: black;
}

img {
    width: 30%;
    display: block;
    margin: 0 auto;
}

.menu {
    list-style-type: none;
    background-color: #ffe9b9;
    color: white;
    padding: 6px;
    font-size: 20px;
}

.menu li {
    display: inline;
    padding: 6px;
    color: #b21834;
    font-weight: bold;
}

h1 {
    margin: 12px 0 12px 0;
    font-family: "Eras Bold ITC";

}

body {
    padding: 6px;
    background-image: url("../images/pozadi1.jpg");
}

