
* {
    color: black;
}

img.center {
    width: 20%;
    height: auto;
    display: block;
    margin: 0 auto;
}

p.center {
    text-align: center;
}

.menu {
    list-style-type: none;
    background-color: #ffe9b9;
    color: white;
    padding: 6px;
    font-size: 20px;
}

.menu li {
    display: inline;
    padding: 6px;
    color: #b21834;
    font-weight: bold;
}

h1 {
    margin: 12px 0 12px 0;
    font-family: "Verdana";

}

body {
    padding: 6px;
    background-image: url("../images/pozadi1.jpg");
}

a {
    color: darkred;
    text-decoration: none;
    font-size: 22px;

}

a:hover {
    color: #a26128;
    text-decoration: none;
}

a {
    color: #64440c;
}

.header {
    display: flex;
    align-items: center;
}


.header img {
    height: 100px;
    width: auto;
    margin-right: 20px;
}
