@font-face {
    font-family: Amble-Regular;
    src: url("../fonts/Amble-Regular.ttf");
}
@font-face {
    font-family: Amble-BoldItalic;
    src: url("../fonts/Amble-BoldItalic.ttf");
}
* {
    color: black;
}

img.center {
    width: 20%;
    height: auto;
    display: block;
    margin: 0 auto;
}

p.center {
    text-align: center;
    font-size: 18pt;
}

.menu {
    list-style-type: none;
    background-color: #ffe9b9;
    color: white;
    padding: 6px;
    font-size: 20px;
}

.menu li {
    display: inline;
    padding: 6px;
    color: #710a34;
    font-weight: bold;
}

h1 {
    margin: 12px 0 12px 0;
    font-family: "Amble-BoldItalic"; font-size: 50px;
    color: #64440c;
    text-shadow: 2px 2px #ffe9b9;
}

h2 {
    font-family: Amble-Regular;
    color: #64440c;
}

body {
    padding: 6px;
    background-image: url("../images/pozadi1.jpg");
}

#page {
    width:95%;
    margin: 0 auto;
    padding: 6px;
    font-family: Amble-Regular;
}

a {
    color: darkred;
    text-decoration: none;
    font-size: 22px;

}

a:hover {
    color: #a26128;
    text-decoration: none;
}

a {
    color: #64440c;
}

.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.textt{
    border-bottom: 1px solid gray;
}
.header img {
    height: 100px;
    width: auto;
    margin-right: 20px;
}
